-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: inventario_ventas
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `vb_productos`
--

DROP TABLE IF EXISTS `vb_productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vb_productos` (
  `id_producto` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) NOT NULL COMMENT 'C??digo interno del producto',
  `codigo_barras_1` varchar(100) DEFAULT NULL COMMENT 'C??digo de barras principal',
  `codigo_barras_2` varchar(100) DEFAULT NULL COMMENT 'C??digo de barras secundario',
  `codigo_barras_3` varchar(100) DEFAULT NULL COMMENT 'C??digo de barras terciario',
  `descripcion` text NOT NULL,
  `presentacion` varchar(100) DEFAULT NULL COMMENT 'Ej. "X30ML", "X24 tabletas"',
  `marca` varchar(100) DEFAULT NULL,
  `id_proveedor` int(10) unsigned DEFAULT NULL,
  `id_categoria` int(10) unsigned DEFAULT NULL,
  `id_iva` int(10) unsigned DEFAULT NULL,
  `id_seccion` int(10) unsigned DEFAULT NULL,
  `unidad_cerrada` int(11) NOT NULL DEFAULT 1 COMMENT 'Unidades por caja/empaque',
  `fraccion` int(11) NOT NULL DEFAULT 0 COMMENT '0=no fraccionable, >0=cantidad por unidad',
  `valor_compra` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Precio de compra',
  `valor_venta` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Precio de venta p??blico',
  `valor_unidad` decimal(12,2) DEFAULT 0.00 COMMENT 'Precio por unidad suelta (si fraccionable)',
  `precio_maximo_regulado` decimal(12,2) DEFAULT NULL COMMENT 'Tope legal de venta (medicamentos). NULL = no aplica',
  `rentabilidad` decimal(8,2) DEFAULT 0.00 COMMENT '% de rentabilidad calculado',
  `stock_minimo` int(11) NOT NULL DEFAULT 1 COMMENT 'Alerta de stock m??nimo',
  `imagen` varchar(255) DEFAULT NULL COMMENT 'Ruta de imagen del producto',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `tipo_venta` enum('UNIDAD','CAJA','FRACCION_DECIMAL') NOT NULL DEFAULT 'UNIDAD' COMMENT 'UNIDAD=unidad suelta, CAJA=solo caja completa, FRACCION_DECIMAL=venta por fracci├│n (ej: 0.5, 0.25)',
  `unidad_medida` varchar(30) DEFAULT NULL COMMENT 'Ej: METRO, LITRO, KILO, VARILLA, BOTELLA, LIBRA',
  `cantidad_por_unidad` decimal(12,4) NOT NULL DEFAULT 1.0000 COMMENT 'Cu├ínto equivale 1 unidad (ej: 1 varilla = 6 metros, 1 thinner = 1 litro)',
  PRIMARY KEY (`id_producto`),
  KEY `idx_prod_codigo` (`codigo`),
  KEY `idx_prod_barras1` (`codigo_barras_1`),
  KEY `idx_prod_barras2` (`codigo_barras_2`),
  KEY `idx_prod_descripcion` (`descripcion`(100)),
  KEY `idx_prod_activo` (`activo`),
  KEY `idx_prod_proveedor` (`id_proveedor`),
  KEY `idx_prod_categoria` (`id_categoria`),
  KEY `idx_prod_iva` (`id_iva`),
  KEY `fk_prod_seccion` (`id_seccion`),
  FULLTEXT KEY `ft_prod_descripcion` (`descripcion`,`presentacion`),
  CONSTRAINT `fk_prod_categoria` FOREIGN KEY (`id_categoria`) REFERENCES `vb_categorias` (`id_categoria`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_prod_iva` FOREIGN KEY (`id_iva`) REFERENCES `vb_ivas` (`id_iva`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_prod_proveedor` FOREIGN KEY (`id_proveedor`) REFERENCES `vb_proveedores` (`id_proveedor`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_prod_seccion` FOREIGN KEY (`id_seccion`) REFERENCES `vb_secciones` (`id_seccion`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vb_productos`
--

LOCK TABLES `vb_productos` WRITE;
/*!40000 ALTER TABLE `vb_productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `vb_productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vb_inventario`
--

DROP TABLE IF EXISTS `vb_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vb_inventario` (
  `id_inventario` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_producto` int(10) unsigned NOT NULL,
  `unidad` int(11) NOT NULL DEFAULT 0 COMMENT 'Cantidad en unidades (cajas)',
  `fraccion` decimal(12,4) NOT NULL DEFAULT 0.0000,
  `ultimo_ingreso` datetime DEFAULT NULL,
  `ultimo_egreso` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_inventario`),
  UNIQUE KEY `idx_inv_producto` (`id_producto`),
  CONSTRAINT `fk_inv_producto` FOREIGN KEY (`id_producto`) REFERENCES `vb_productos` (`id_producto`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vb_inventario`
--

LOCK TABLES `vb_inventario` WRITE;
/*!40000 ALTER TABLE `vb_inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `vb_inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vb_facturas`
--

DROP TABLE IF EXISTS `vb_facturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vb_facturas` (
  `id_factura` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(36) DEFAULT NULL COMMENT 'UUID ??nico de la factura',
  `codigo` bigint(20) NOT NULL COMMENT 'N??mero consecutivo de factura',
  `id_empresa` int(10) unsigned DEFAULT NULL,
  `id_cliente` int(10) unsigned DEFAULT NULL,
  `id_vendedor` int(10) unsigned DEFAULT NULL,
  `id_vendedor_registrado` int(10) unsigned DEFAULT NULL,
  `fecha` date NOT NULL,
  `hora` time NOT NULL,
  `tipo` enum('NORMAL','ELECTRONICA') NOT NULL DEFAULT 'NORMAL',
  `tipo_pago` varchar(50) NOT NULL DEFAULT 'EFECTIVO' COMMENT 'EFECTIVO, NEQUI, DAVIPLATA, ADDI, TRANSFERENCIA, OTROS',
  `subtotal` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total_iva` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'Total a pagar',
  `pago_recibido` decimal(14,2) NOT NULL DEFAULT 0.00,
  `cambio` decimal(14,2) NOT NULL DEFAULT 0.00,
  `descuento` decimal(14,2) NOT NULL DEFAULT 0.00,
  `ganancia` decimal(14,2) NOT NULL DEFAULT 0.00,
  `cufe` varchar(250) DEFAULT NULL COMMENT 'CUFE para factura electr??nica',
  `qr` text DEFAULT NULL COMMENT 'QR para factura electr??nica',
  `estado` enum('ACTIVA','ANULADA') NOT NULL DEFAULT 'ACTIVA',
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_factura`),
  KEY `idx_fact_codigo` (`codigo`),
  KEY `idx_fact_fecha` (`fecha`),
  KEY `idx_fact_cliente` (`id_cliente`),
  KEY `idx_fact_vendedor` (`id_vendedor`),
  KEY `idx_fact_estado` (`estado`),
  KEY `idx_fact_tipo` (`tipo`),
  KEY `fk_fact_empresa` (`id_empresa`),
  KEY `idx_fact_vendedor_reg` (`id_vendedor_registrado`),
  CONSTRAINT `fk_fact_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `vb_clientes` (`id_cliente`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_fact_empresa` FOREIGN KEY (`id_empresa`) REFERENCES `vb_empresa` (`id_empresa`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_fact_vendedor` FOREIGN KEY (`id_vendedor`) REFERENCES `vb_usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_fact_vendedor_reg` FOREIGN KEY (`id_vendedor_registrado`) REFERENCES `vb_vendedores` (`id_vendedor`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vb_facturas`
--

LOCK TABLES `vb_facturas` WRITE;
/*!40000 ALTER TABLE `vb_facturas` DISABLE KEYS */;
INSERT INTO `vb_facturas` VALUES (1,'1ad46ae6-0265-4421-b787-d86df585e35e',46500,1,1,3,NULL,'2026-09-13','11:18:40','NORMAL','EFECTIVO',24000.00,4560.00,28560.00,40000.00,11440.00,0.00,8000.00,NULL,NULL,'ACTIVA',NULL,'2026-09-13 16:18:40','2026-09-13 16:18:40');
/*!40000 ALTER TABLE `vb_facturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vb_creditos`
--

DROP TABLE IF EXISTS `vb_creditos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vb_creditos` (
  `id_credito` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) NOT NULL,
  `id_cliente` int(10) unsigned NOT NULL,
  `valor_total` decimal(14,2) NOT NULL DEFAULT 0.00,
  `valor_aumento` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'Aumento por cr??dito',
  `saldo_pendiente` decimal(14,2) NOT NULL DEFAULT 0.00,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `estado` enum('ACTIVO','PAGADO','VENCIDO') NOT NULL DEFAULT 'ACTIVO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_credito`),
  KEY `idx_cred_cliente` (`id_cliente`),
  KEY `idx_cred_estado` (`estado`),
  CONSTRAINT `fk_cred_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `vb_clientes` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vb_creditos`
--

LOCK TABLES `vb_creditos` WRITE;
/*!40000 ALTER TABLE `vb_creditos` DISABLE KEYS */;
/*!40000 ALTER TABLE `vb_creditos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vb_cierres_inventario`
--

DROP TABLE IF EXISTS `vb_cierres_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vb_cierres_inventario` (
  `id_cierre` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `total_invertido` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total_capital` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total_utilidad` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total_unidad` int(11) NOT NULL DEFAULT 0,
  `total_fraccion` int(11) NOT NULL DEFAULT 0,
  `fecha_cierre` date NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_cierre`),
  KEY `idx_cierre_fecha` (`fecha_cierre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vb_cierres_inventario`
--

LOCK TABLES `vb_cierres_inventario` WRITE;
/*!40000 ALTER TABLE `vb_cierres_inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `vb_cierres_inventario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-13 12:27:17
